.neptune/
.vscode/
lightning_logs/
__pycache__/
.DS_Store
*.pyc
.env
cache/
*.err
*.out
*.npy
*.csv
*.tsv
*.tmp
*.pdf
exps/ckpts/
*.ipynb
*.png
ipynb_checkpoints/
cache.json
*.xlsx
*.bif
*.tex
*.lyx
*.pkl
runs/
logs/
wandb/
*.log
*.rdb
*.json
*.zip
appendonlydir
._*
data/simulate_data
data/.cache
data/.method.cache
data/dream5
*.lock
*.bk
a.py
test_score.py
*.ckpt
*.pickle
*.parquet
paste.md
context.md
.nfs*
output_*.log*